#title_hero {
  padding-top: 20px;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #000;
}

div iframe  {
  display: block;
  margin: auto;
}

.owl-carousel img {
  display: block;
  margin: auto;
}

.owl-carousel iframe {
  display: block;
  margin: auto;
}

.center {
  display: table
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#main-footer {
  background-image: url(/img/ess.jpg); 
  background-repeat: no-repeat;
  background-position: center; 
  height: 400px;
}
.form-control {
}

.form-control:focus {
  border-color: #cdbfe3;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 191, 227, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 191, 227, 1);
}

.badge {
  background: #cdbfe3;
}


